.modal {

  &-title {
    font-size: 16px;
    font-weight: 700;
    color: #3f4047;
  }

  &-header {
    border-bottom: 1px solid #e9ecef;
  }

  .close {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &#deposit-modal, &#qar-modal {
    .form-control {
      padding: 0.65rem 1.25rem;
      border-color: $color-border;
      font-size: 18px;
      color: #575962;
      border-right: none;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .btn-secondary {
      background-color: $light;
      border-color: $color-border;
      color: #111;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;

      &:hover {
        background-color: #f4f5f8;
        border-color: $color-border;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  &.warning {
    .modal-header {
      padding: 0;
      border: none;

      .close {
        margin: 11px 0;
        padding: 0 1rem;
        font-size: 50px;
        color: #f4516c;
      }
    }
  }
}
