h1 {
  font-size: 60px;

  small {
    font-size: 24px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 50px;
    line-height: 50px;

    small {
      font-size: 18px;
    }
  }
}

h2 {
  margin: 0 0 20px;
  padding: 30px 30px 30px 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid $gray_color-lighter;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;

  sub {
    text-transform: none;
    font-size: 10px;
    font-weight: 300;
    color: #afb2c1;
  }
}

p {
  margin-bottom: 10px;
}

.size {
  &-16 {
    font-size: 16px;
  }

  &-24 {
    font-size: 24px;
  }

  &-28 {
    font-size: 28px;
  }

  &-35 {
    font-size: 35px;
  }
}

.title {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: 0% 50%;

  &-daitoken {
    background-image: url('/./assets/images/daico_logo.png');
  }

  &-bitcoin {
    background-image: url('/./assets/images/daico_bitcon.png');
  }

  &-ethereum {
    background-image: url('/./assets/images/daico_ethereum.png');
  }
}

.title2 {
    text-transform: none;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 40px;
}
.title3 {
    text-transform: none;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0;
}