$light: #FFF;
$dark: #000;

$primary_color: #007bff;
$secondary_color: #6f7cba;

$text_color: #676c7b;
$text_color-dark: #333;
$site_bg: #f2f3f8;

$header_bg-color: #1b1439;


$gray_color: #a9a9a9;
$gray_color-light: #999;
$gray_color-lighter: #ccc;
$gray_color-lightest: #ddd;

$green_color: #34bfa3;
$yellow_color: #ffb119;
$orange_color: #d97500;
$red_color: #d62533;

$color-border: #ebedf2;


$gradient-color1: #1c1339;
$gradient-color2: #4b35ab;







$font-face: 'Nunito Sans', sans-serif;
// default 1rem=16px
$base-font-size: 1rem; //16px
$main-font-size: 0.875rem; //14px
$medium-font-size: 0.75rem; //12px
$f-headline-font-size: 1.13rem; //18px
$header1-font-size: 1.25rem; //20px
$headline-font-size: 1.45rem; //24px
$small-font-size: 0.625rem; //10px
$header-main: 2.0rem; //~32px



// RADIUS _______________________________ //
$radius: 5px;
$radius-small: 3px;
$radius-xsmall: 2px;
