@import "./bootstrap/bootstrap-reboot";
@import "./bootstrap/bootstrap-grid";
@import "./bootstrap/bootstrap";
@import "./open-sans/open-sans";
@import "./fontawesome/fa-brands";
@import "./fontawesome/fa-regular";
@import "./fontawesome/fa-solid";
@import "./fontawesome/fontawesome";

@import "./variables-site";
@import "additional-styles";
@import "./header";
@import "./aside";
@import "./main";
@import "./footer";
@import "./color";
@import "./list";
@import "./table";
@import "./widget";
@import "./typography";
@import "./button";
@import "./form";
@import "./nav";
@import "./modal";
@import "./flaticon";                                                                 
@import "./mainpage";
@import "./ico";


html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $text_color;
  background-color: $site_bg;
}

.mb-section {
  margin-bottom: 30px;
}

.affiliate {
  padding-left: 30px;
  padding-right: 30px;
}
