<div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
    </div>

    <div class="col text-right">
        <div ngbDropdown placement="top-right" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button class="dropdown-item">Action - 1</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
    </div>
</div>



<div class="top-panel">
    <div class="container">
        <div class="top-panel__content">
            <p>
                Comprehancive ICO information
            </p>

            <div>
                <a href="create-token.html" class="btn btn-primary">Create Token</a>
                <a href="token-wizard.html" class="btn btn-primary">Token Wizard</a>
            </div>

            <div class="btn-section">
                <select>
                    <option>English</option>
                    <option>Spain</option>
                </select>
                <div class="dropdown show" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a  href="dashboard.html"  class="btn btn-light">Login</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form>
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Remember me
                                </label>
                            </div>
                            <a  href="dashboard.html"  class="btn btn-primary">Sign in</a>
                            <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
                        </form>
                        <div class="form-footer">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="header-main">
    <div class="container ">
        <div class="header-main__content ">

            <a class="navbar-brand logo" href="/">
                <img src="/images/daico_logo.png">
            </a>
            <form class="form-search" action="search">
                <input type="text" class="form-control" id="full-name" placeholder="Search for any ICO or Event">
                <button type="button" name="button" class="btn btn-primary">Search</button>
            </form>

            <a href="publish-ico.html" class="btn-bordered">Publish ICO</a>
        </div>
    </div>


</header>