<app-header-main></app-header-main>

<!--
<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
        Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
    </ul>
</div>



<div class="container">

    <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Button with tooltip
    </button>

    <button type="button" class="btn btn-info" (click)="openModal(template)">Create template modal</button>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>

</div>-->







<div class="container">

    <h2>Input data to create token</h2>
    
    <form>
        <div class="form-group">
            <label >Token Name</label>
            <input type="email" class="form-control" placeholder="Token Name">
        </div>
        <div class="form-group">
            <label >Token Symbol</label>
            <input type="email" class="form-control" placeholder="Token Symbol">
        </div>
        <div class="form-group">
            <label >Token Total Supply</label>
            <input type="email" class="form-control" placeholder="Token Total Supply">
        </div>
        <a  href="dashboard.html"  class="btn btn-primary">Create Token</a>
        <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
    </form>

</div>


<app-footer></app-footer>