<main class="main">
    <div class="container bg-white create-token">
        <h2>
            Token Details
        </h2>


        <ul class="tokens-list">
            <li>
                <img src="{{tokenService.tokensDetails.icon}}" alt=""/>
                {{tokenService.tokensDetails.blockchain}}
                <br>
                <p>contractAddress: </p>
                {{tokenService.tokensDetails.contractAddress}}
                <br>
                {{tokenService.tokensDetails.contractHash}}
                {{tokenService.tokensDetails.decimals}}
                {{tokenService.tokensDetails.description}}
                <!--{{token.icon}}-->
                {{tokenService.tokensDetails.id}}
                {{tokenService.tokensDetails.ownerId}}
                {{tokenService.tokensDetails.name}}
                {{tokenService.tokensDetails.price}}
                {{tokenService.tokensDetails.symbol}}
            </li>
        </ul>
        

        
    </div>
</main>
